@model TableViewModel
@{
    ViewData["Title"] = "Tables";
}

<div class="container">
    
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm text-center">
                <form id="x" asp-controller="Home" asp-action="GetTableInfo">
                    <h5>Select table</h5>
                    <select id ="TableSelect" asp-for="TableName" style="height: 30px;">
                        <option id = "First">First</option>
                        <option id = "Second">Second</option>
                        <option id = "Third">Third</option>
                        <option id = "Fourth">Fourth</option>
                        <option id = "Fifth">Fifth</option>
                    </select>
                    <br>
                    <br>
                    <input id = "submitButton" type="submit" value="Get table info"><br>
                    
                </form>
                <hr><br>

            <div id="AddingDishes" type = "hidden">
                @if(Model != null && Model.TableName != "Select Table" && Model.Table != null)
                {
                <form asp-action="AddDishToOrder" asp-controller="Home">
                    
                    <div style="text-align:left;">
                        <input id="chickenCheckBox" type="checkbox" asp-for="DishSelect.isChickenSelected"><label>Chicken with fries</label><br>
                        <div id="chickenData">
                            <input id="chickenQuantity" type="number" step="0" min="0" asp-for="DishSelect.ChickenQuantity" placeholder="Quantity"><br>
                            <label id ="chickenPriceLabel">16.5 PLN</label><br>
                        </div>
                        <input id="fishCheckBox" type="checkbox" asp-for="DishSelect.isFishSelected"><label>Fish with potatoes</label><br>
                        <div id="fishData">
                            <input id="fishQuantity" type="number" step="0" min="0" asp-for="DishSelect.FishQuantity" placeholder="Quantity"><br>
                            <label id ="fishPriceLabel">21.3 PLN</label><br>
                        </div>
                        <input id="schnitzelCheckBox" type="checkbox" asp-for="DishSelect.isSchnitzelSelected"><label>Schnitzel with salad</label><br>
                        <div id="schnitzelData">
                            <input id="schnitzelQuantity" type="number" step="0" min="0" asp-for="DishSelect.SchnitzelQuantity" placeholder="Quantity"><br>
                            <label id ="schnitzelPriceLabel">19.2 PLN</label><br>
                        </div>
                        <input id="hamburgerCheckBox" type="checkbox" asp-for="DishSelect.isHamburgerSelected"><label>Hamburger</label><br>
                        <div id="hamburgerData">
                            <input id="hamburgerQuantity" type="number" step="0" min="0" asp-for="DishSelect.HamburgerQuantity" placeholder="Quantity"><br>
                            <label id ="hamburgerPriceLabel">8.9 PLN</label><br>
                        </div>
                        <input id="hotDogCheckBox" type="checkbox" asp-for="DishSelect.isHotDogSelected"><label>Hot Dog</label><br>
                        <div id="hotDogData">
                            <input id="hotDogQuantity" type="number" step="0" min="0" asp-for="DishSelect.HotDogQuantity" placeholder="Quantity"><br>
                            <label id ="HotDogPriceLabel">4.5 PLN</label>
                        </div>
                    </div>
                    <input type = "hidden" asp-for="TableName" value="@Model.TableName"><br>
                    <input id="addDishesBtn" type = "submit" value="Add Dishes to order">
                </form>
                }
                <br>
                @if(Model != null && Model.TableName != "Select Table")
                {
                    <hr>
                    <br>
                    <h4>Table name: @Model.TableName</h4>
                    if(Model.Table.Order != null)
                    {
                        <div>
                        <h5>Order price: @Model.Table.Order.OrderPrice PLN</h5>
                        @foreach (var dish in Model.Table.Order.Dishes)
                        {
                            <form asp-action="EditDish" asp-controller="Home" >
                                <h5>Dish Name: @dish.DishName</h5>
                                <h5>Dish Price: @dish.DishPrice PLN</h5>
                                <h5>Quantity: @dish.Count</h5>
                                <input type="hidden" asp-for="TableName" value = "@Model.TableName">
                                <input type="hidden" asp-for="DishName" value="@dish.DishName">
                                <input type="submit" value="Edit">
                            </form>
                        }
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
    
    @section scripts{
        <script>
        $("#TableSelect").change( function() {
            $("#AddingDishes").hide()
        })
        $("#chickenCheckBox").change(function() {
            if(this.checked) {
                $("#chickenData").show()
            } else {
                $("#chickenData").hide()
            }
        });
        $("#fishCheckBox").change(function() {
            if(this.checked) {
                $("#fishData").show()
            } else {
                $("#fishData").hide()
            }
        });
        $("#schnitzelCheckBox").change(function() {
            if(this.checked) {
                $("#schnitzelData").show()
            } else {
                $("#schnitzelData").hide()
            }
        });
        $("#hamburgerCheckBox").change(function() {
            if(this.checked) {
                $("#hamburgerData").show()
            } else {
                $("#hamburgerData").hide()
            }
        });
        $("#hotDogCheckBox").change(function() {
            if(this.checked) {
                $("#hotDogData").show()
            } else {
                $("#hotDogData").hide()
            }
        });

        if(!$('#chickenCheckBox').prop('checked')){
            $("#chickenData").hide()
        }
        if(!$('#fishCheckBox').prop('checked')){
            $("#fishData").hide()
        }
        if(!$('#schnitzelCheckBox').prop('checked')){
            $("#schnitzelData").hide()
        }
        if(!$('#hamburgerCheckBox').prop('checked')){
            $("#hamburgerData").hide()
        }
        if(!$('#hotDogCheckBox').prop('checked')){
            $("#hotDogData").hide()
        }

        $("#chickenQuantity").val(0)
        $("#fishQuantity").val(0)
        $("#schnitzelQuantity").val(0)
        $("#hamburgerQuantity").val(0)
        $("#hotDogQuantity").val(0)
        </script>
    }
</div>
