@model TableViewModel
@{
    ViewData["Title"] = "Tables";
}

<div class="container">
    
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm text-center">
                <form id="x" asp-controller="Home" asp-action="GetTableInfo">
                    <h5>Select table</h5>
                    <select id ="TableSelect" asp-for="TableName" style="height: 30px;">
                        <option id = "First">First</option>
                        <option id = "Second">Second</option>
                        <option id = "Third">Third</option>
                        <option id = "Fourth">Fourth</option>
                        <option id = "Fifth">Fifth</option>
                    </select>
                    <br>
                    <br>
                    <input id = "submitButton" type="submit" value="Get table info"><br>
                    
                    @* @if(Model != null)
                    {
                        <input type="hidden" asp-for="TableJson" value="@Model.TableJson">
                    } *@
                    
                </form>
                <hr><br>

            <div id="AddingDishes" type = "hidden">

                @if(Model != null && Model.TableName != "Select Table" && Model.Table != null)
                {
                <form asp-action="AddDishToOrder" asp-controller="Home">
                    <select id ="DishSelect" asp-for="DishName" style="height: 30px;" style="padding-top: 10px; padding-bottom: 10px;">
                        <option id = "None">Select Dish</option>
                        <option id = "First">Chicken with fries</option>
                        <option id = "Second">Fish with potatoes</option>
                        <option id = "Third">Schnitzel with salad</option>
                        <option id = "Fourth">Hamburger</option>
                        <option id = "Fifth">Hot Dog</option>
                    </select>
                    <br>
                    <label id ="PriceLabel"></label>
                    <br>
                    <input type="number" step="1" placeholder="Quantity" asp-for="Quantity" value=""><br>
                    @* <input type = "hidden" asp-for="TableJson" value="@Model.TableJson"> *@
                    <input type = "hidden" asp-for="TableName" value="@Model.TableName"><br>
                    <input type = "submit" value="Add Dish to order">
                </form>
                }
                <br>
                @if(Model != null && Model.TableName != "Select Table")
                {
                    <hr>
                    <br>
                    <h4>Table name: @Model.TableName</h4>
                    <h5>Price: @Model.Table.Order.OrderPrice PLN</h5>
                    if(Model.Table.Order != null)
                    {
                        <div>
                        <h5>Order price: @Model.Table.Order.OrderPrice PLN</h5>
                        @foreach (var dish in Model.Table.Order.Dishes)
                        {
                            <form asp-action="EditDish" asp-controller="Home" >
                                <h5>Dish Name: @dish.DishName</h5>
                                <h5>Dish Price: @dish.DishPrice PLN</h5>
                                <h5>Quantity: @dish.Count</h5>
                                @* <input type="hidden" asp-for="TableJson" value="@Model.TableJson"> *@
                                <input type="hidden" asp-for="TableName" value = "@Model.TableName">
                                <input type="hidden" asp-for="DishName" value="@dish.DishName">
                                <input type="submit" value="Edit">
                            </form>
                        }
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
    
    @section scripts{
        <script>
        $("#TableSelect").change( function() {
            $("#AddingDishes").hide()
        })
        $("#DishSelect").change( function(){
            if($("#DishSelect").children(":selected").attr("id") == "None")
            {
                $("#PriceLabel").text("")
            }
            if($("#DishSelect").children(":selected").attr("id") == "First")
            {
                $("#PriceLabel").text("Cost: 16.5 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Second")
            {
                $("#PriceLabel").text("Cost: 21.3 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Third")
            {
                $("#PriceLabel").text("Cost: 19.2 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Fourth")
            {
                $("#PriceLabel").text("Cost: 8.9 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Fifth")
            {
                $("#PriceLabel").text("Cost: 4.5 PLN")
            }
        })
        if($("#DishSelect").children(":selected").attr("id") == "None")
            {
                $("#PriceLabel").text("")
            }
            if($("#DishSelect").children(":selected").attr("id") == "First")
            {
                $("#PriceLabel").text("Cost: 16.5 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Second")
            {
                $("#PriceLabel").text("Cost: 21.3 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Third")
            {
                $("#PriceLabel").text("Cost: 19.2 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Fourth")
            {
                $("#PriceLabel").text("Cost: 8.9 PLN")
            }
            if($("#DishSelect").children(":selected").attr("id") == "Fifth")
            {
                $("#PriceLabel").text("Cost: 4.5 PLN")
            }
        </script>
    }
</div>
